<div class="row-fluid">
<div class="span5">


<h1>WordsEye</h1>
<br/><br/><br/>
<p>Create 3D scenes using language</p>
<br/><br/><br/>
<p><a class="btn btn-primary btn-large" href="<%= new_user_session_path %>">Login &raquo;</a></p>
</div>

<script>$(document).ready(function(){$('.carousel').carousel();});</script>
<div class="span6">
<div id="carousel" class="carousel slide" style="" class="">
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://lucky.cs.columbia.edu:2001/local/we/webpage-db/2009-10-4/39.jpg" alt="">
      <!-- <div class="carousel-caption">
             <h4>Generated from text:</h4>
             <p>The cat is on the chair. the chair is on the green mountain range. the mountain range is extremely tall. it is partly cloudy. the stop sign is next to the chair.</p>
           </div> -->
     
    </div>
    <div class="item">
      <img src="http://lucky.cs.columbia.edu:2001/local/we/webpage-db/2010-7-15/325.jpg" alt="">
      <!-- <div class="carousel-caption">
             <h4>Generated from text:</h4>
             <p>Generated from text: the very large silver ball is on the table. the background is pink. the background is short. it is cloudy. the ground is shiny. a large yellow illuminator is 4 feet above the ball. The table is under the small willow tree. The lion is one foot in front of the table. the lion is facing the ball.</p>
           </div> -->
    </div>

    <div class="item">
      <img src="http://lucky.cs.columbia.edu:2001/local/we/webpage-db/2010-7-6/113.jpg" alt="">
      <!-- <div class="carousel-caption">
            <h4>Generated from text:</h4>
            <p> the cow is on the rug. the small barn is 10 feet behind the rug. it is partly cloudy. the ground is black. the camera-light is black. the large yellow illuminator is 5 feet above the cow. the green illuminator is 15 feet in front of the barn. the camera-light is black. it is night.</p>
          </div> -->
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
</div>